/*NAV*/
#navegador{
    grid-area: navegador;
    background-image: linear-gradient(to top, rgb(115, 163, 20), rgb(158, 211, 51));  
    font-family: $font_arial;
    width: 1246px;
    height: 100px;
    display: flex;
    align-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 99px;
    border-bottom: $border_inset;
    z-index: 3;
    .menuNav{
        width: 800px;
        height: 80px;
        color: $text_black;        
        font-family: $font_arial;    
        position: fixed;           
        z-index: 2; 
        display: flex;
        flex-direction: row;
        justify-content: flex-end;        
        align-items: center;
        transform: translate(400px, 5px);        
        ul{
            li{
                a{
                    .stat-icon{  
                        width: 30px;
                        height: 24px;                        
                    }  
                    .textoNav{
                        color: $text_black;
                        &:hover{
                            color: $text_white;
                        }
                    }
                }
            }
        }
        ul{
            li{
                a{
                    .calendario-icon{  
                        width: 30px;
                        height: 30px;                       
                    }  
                  
                }
            }
        }
                 
        .suscribirme{
            background-color: $text_black;
            color: $text_white;
            font-size: 15px;
            font-family: $font_arial;
            padding: 10px 10px 10px 10px;   
            text-decoration: none;
            transition: background-color gray , border , font-size 1ms;
            transform: translateY(0px);            
        }
    }
}